body {
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
}

header {
  background: linear-gradient(90deg,#1e293b,#020617);
  padding:20px;
  font-size:20px;
}

.topnav {
  background:#020617;
  padding:10px;
}

.dropdown { position:relative; display:inline-block; }

.dropbtn {
  background:#38bdf8;
  border:none;
  padding:10px 18px;
  font-size:16px;
  cursor:pointer;
  border-radius:6px;
}

.dropdown-content {
  display:none;
  position:absolute;
  background:#1e293b;
  min-width:200px;
  border-radius:8px;
  overflow:hidden;
  z-index:1;
}

.dropdown-content div {
  padding:10px;
  cursor:pointer;
}

.dropdown-content div:hover { background:#334155; }

.dropdown:hover .dropdown-content { display:block; }

.members {
  padding:30px;
}

.member-grid {
  display:flex;
  flex-wrap:wrap;
  gap:25px;
  justify-content:center;
}

.member {
  background:#1e293b;
  padding:15px;
  border-radius:12px;
  width:160px;
  text-align:center;
  transition:0.3s;
}

.member:hover {
  transform:scale(1.05);
  background:#334155;
}

.member img {
  width:100%;
  border-radius:10px;
}

.gallery {
  padding:20px;
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
}

.card {
  width:260px;
  background:#1e293b;
  border-radius:12px;
  padding:10px;
}

.comments input {
  width:90%;
  margin:4px;
}
.comments button {
  margin-bottom:8px;
}