body{
  margin:0;
  font-family:'Inter',sans-serif;
  background:linear-gradient(135deg,#0f172a,#020617);
  color:white;
}

/* HERO */
.hero{
  text-align:center;
  padding:40px 20px;
  background:linear-gradient(90deg,#1e3a8a,#0ea5e9);
}

/* SEARCH */
.searchBox{
  width:60%;
  margin:20px auto;
  background:white;
  border-radius:40px;
  display:flex;
  align-items:center;
  padding:10px 20px;
}

.searchBox input{
  border:none;
  outline:none;
  flex:1;
  font-size:18px;
}

.searchIcon{
  font-size:20px;
}

/* MEMBERS */
.member-grid{
  display:flex;
  flex-wrap:wrap;
  gap:25px;
  justify-content:center;
  padding:20px;
}

.member{
  background:#1e293b;
  padding:15px;
  width:170px;
  border-radius:14px;
  cursor:pointer;
  transition:0.3s;
}

.member:hover{
  transform:translateY(-5px);
  background:#334155;
}

.member img{
  width:100%;
  border-radius:10px;
}

/* GALLERY */
.gallery{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:25px;
  padding:30px;
}

.card{
  width:280px;
  background:#1e293b;
  border-radius:14px;
  padding:12px;
}

.card img,video{
  width:100%;
  border-radius:10px;
}

.eventTag{
  background:#38bdf8;
  padding:4px 10px;
  border-radius:20px;
  font-size:12px;
}